* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* impede rolagem lateral */
  }

.intro-content{
    position: relative;
    /*top: -7rem;*/
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height:100vh ;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img,
.intro-img svg {
    max-width:100%;
    height: auto;
}

.top3-content {
    max-width: 64rem;
    min-height: 100vh;
    display: flex;
    /*flex-flow: column wrap;*/
    flex-direction:column ;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.top3-content h2 {
    font-size: 5rem;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 10vh;

  
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}


.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 8rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 3rem;
    font-style: italic;
    top:-1rem;
    left: 0rem;
    transform: rotate(5deg);
}

.Gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.Gallery-img img {
    transition: all 300ms ease-in-out;
}

.Gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px 2px var(--secondary-color);
}

.form-group button {
    border: 0.5rem solid var(--white);
    background: none;
    color: var(--white);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--light-gray-color);
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: var(--primary-color);
}

.heart {
    color:var(--secondary-color) ;
}

.footer p {
    margin:0 ;
    padding: 3rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

.Gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.Gallery-img img {
    width: 100%;
}

.grid-one-content {
    display: block;
}

/* Estilo para telas maiores */
.menu {
    display: flex;
    flex-direction: column; /* para que o logo e o menu fiquem em coluna */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #f5f5f5;
    padding: 1rem;
    width: 100%;
  }
  
  .menu nav ul {
    display: flex;
    flex-direction: row;  /* Itens do menu lado a lado */
    padding-left: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
  }
  
  .menu nav ul li {
    display: inline;  /* Itens do menu são inline */
  }
  
  /* Estilo só para telas pequenas (até 800px) */
  @media (max-width: 800px) {
    .menu {
      flex-direction: column !important;  /* Itens ficam em coluna */
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 1000;
      padding: 1rem;
      
      
    }
  
    .menu nav ul {
      flex-direction: column;  /* Muda o menu para uma coluna em telas pequenas */
    }
  
    .menu nav ul li {
      text-align: center;  /* Deixa os itens do menu centralizados */
    }
  }

.menu-content, .menu-content ul {
    flex-direction: column;
}  

/* a partir daqui video*/

.menu {
    display: none;
}

.close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2000;
    top: 1rem;
    right: 1rem;
    background: var(--primary-color);
    color: var(--white);
    font-size: 2.5rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
  }  
/* × */
.close-menu:checked~.menu{
    display: flex;
}

.close-menu:checked~.close-menu-label::after{
    content: '×';
}

.menu-spacing {
    display: none;
}

@media (max-width: 800px) {
    .grid h3 {
      font-size: 1.5rem;
      padding-left: 2rem;
      padding-bottom: 1rem;
    }
  
    .grid p {
      font-size: 1rem;
      line-height: 1.5;
      padding: 0 1rem;
      text-align: justify;
    }
  
    .grid-main-heading {
      font-size: 2rem;
      text-align: center;
    }
  
    .grid-description {
      font-size: 1rem;
      text-align: center;
      padding: 0 1rem 2rem;
    }
  }